[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/kubernetes/bin/kube-scheduler --address=127.0.0.1 --kubeconfig=/opt/kubernetes/cfg/kube-scheduler.kubeconfig --leader-elect=true --alsologtostderr=true --logtostderr=false --log-dir=/opt/kubernetes/log --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target